.container{
    display: flex;
    font-size: 15px;
    color: gray;
    padding: 0%;
}
.id{
    width: 50px;
}
.td{
    width: 170px;
    border: 1px solid gray;
    text-align: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    background-color: #f4f3f3;
    padding: 8px;
}
.btnContainer{
    display: flex;
    justify-content: center;
    width: 130px;
    border: 1px solid gray;
    
}
.save{
    background-color: green;
    border: none;
    
    border-radius: 25%;
    cursor: pointer;
}
.edit{
    background-color: yellow;
    border: none;
    border-radius: 25%;
    cursor: pointer;
}
.cancel{
    background-color: orange;
    border: none;
    border-radius: 25%;
    cursor: pointer;
}
.id{
    width: 50px;
}
.row{
    display: flex;
    justify-content: space-around;
    color: gray;
    background-color:#f4f3f3; 
}
.input{
    border: none;
    text-align: center;
    padding: 5px;
    background-color:#f4f3f3;
    color: green;
}
button{
    border: none;
}
input:invalid {
    border: 2px dashed red;
} 
input:valid {
    border: 2px solid black;
}
.error{
    color: red;
    font-size: 9px;
}
.btnCheck{
    margin: 10px;
    background-color: #14a456;
    border-radius:15px;
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
