.container{
    display: flex;
    font-size: 15px;
    color: gray;
}
.id{
    width: 50px;
}
.td{
    width: 170px;
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    background-color: #f4f3f3;
}
.btnContainer{
    display: flex;
    justify-content: center;
    color: gray;
    
}
.save{
    background-color: green;
    border: none;
    margin: 3px;
    border-radius: 25%;
    cursor: pointer;
}
.edit{
    background-color: yellow;
    border: none;
    margin: 3px;
    border-radius: 25%;
    cursor: pointer;
}
.cancel{
    background-color: orange;
    border: none;
    margin: 3px;
    border-radius: 25%;
    cursor: pointer;
}
.del{
    background-color: red;
    border: none;
    margin: 3px;
    border-radius: 25%;
    cursor: pointer;
}
.id{
    width: 50px;
}
