.container{
    text-align: center;
    width: 320px;
    height: 200px;
    padding: 70px;
    border: none;
    background-color: #f4f3f3;
    font-family: ui-sans-serif, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8%;
}
.english{
    color: black;
    font-weight: bold;
    font-size: 28px;
}
.transcription{
    color: gray;
    font-size: 14px;
    padding: 15px;
}
.russian{
    color: #14a456;
    font-size: 15px;
}
.btnCheck{
    margin: 10px;
    background-color: #14a456;
    border-radius:15px;
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.count{
    color: black;
    font-size: 14px;
}
